My Jupiter Notebook on IBM Watson Studio

**Jordan Seibold** <br> Senior Scientist

*I am interested in data science because it will be important in collaborative data processing. And will be key in allowing centralized data collection and storage*

### I will show how to multiply 10 times 10

In [11]:
print(10*10)

100

- cow <br> - pig <br> - cat <br> - dog  <br> 1. house <br> 2. car <br> 3. pool <br> [click me](http://google.com)